body {
    font-family: cursive;
    margin: 50px;
    background-image: url("https://i.pinimg.com/originals/19/5d/74/195d740f34ee0d9bb27f3831b9455f99.gif");
    background-size: cover;
}

table{
    font-size: 25px;
    text-align: center;


}
h1{
    font-size: 40px;
    margin-left: 10px;
}

table,tr,td{
    border: solid 3px black;
    background-color: #dee5ff;
}

th{
    padding: 10px;
}

h3{
    font-size: 30px;
}

img{
    float:right;

}
